<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatiible" content="IE=edge" />
<meta
  name="author"
  content="Fakhri Rossi, Rafly Firmansyah, Syahrul Ramadhan"
/>
<meta
  name="description"
  content="libly, daftar lirik musik indonesia, daftar lirik musik top, daftar musik terkenal."
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Music Library - Lyric</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
  rel="stylesheet"
/>
