<footer>
  <div class="container-sm">
    <div class="footer">
      <div class="logo">libly.</div>
      <div class="footer-menu">
        <ul class="list-menu">
          <h4>Companny</h4>
          <div class="list-link">
            <a href="#" class="footer-link">About libly</a>
            <a href="#" class="footer-link">Our Teams</a>
            <a href="#" class="footer-link">Careers</a>
          </div>
        </ul>
        <ul class="list-menu">
          <h4>Community</h4>
          <div class="list-link">
            <a href="#" class="footer-link">For Artist</a>
            <a href="#" class="footer-link">Music Producer</a>
            <a href="#" class="footer-link">Marketing Ads</a>
            <a href="#" class="footer-link">Investor</a>
            <a href="#" class="footer-link">Vendor</a>
          </div>
        </ul>
        <ul class="list-menu">
          <h4>Our Partners</h4>
          <div class="list-link">
            <a href="#" class="footer-link">Spotify</a>
            <a href="#" class="footer-link">Youtube Music</a>
            <a href="#" class="footer-link">JOOX</a>
            <a href="#" class="footer-link">Sound Cloud</a>
          </div>
        </ul>
        <ul class="list-menu">
          <h4>Premium Package</h4>
          <div class="list-link">
            <a href="#" class="footer-link">Personal</a>
            <a href="#" class="footer-link">Couple</a>
            <a href="#" class="footer-link">Family</a>
            <a href="#" class="footer-link">Student</a>
          </div>
        </ul>
      </div>
      <div class="footer-social-link">
        <a href="#" class="social-link">
          <i class="bx bxl-instagram"></i>
        </a>
        <a href="#" class="social-link">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="#" class="social-link">
          <i class="bx bxl-facebook"></i>
        </a>
      </div>
    </div>
    <div class="footer-copy">
      <i class="bx bx-copyright"></i>
      <span>Copyright libly 2024 • Tugas KUIS PTI </span>
    </div>
  </div>
</footer>
