<header>
  <div class="container-sm">
    <nav class="navbar">
      <div class="nav-logo">
        <h2 class="logo">libly.</h2>
      </div>
      <ul class="nav-menu">
        <a href="#" class="nav-link active">Discover</a>
        <a href="#" class="nav-link">Premium</a>
        <a href="#" class="nav-link">Library</a>
        <a href="#" class="nav-link">Blog</a>
        <a href="#" class="nav-link">Help</a>
        <div class="nav-action">
          <a href="#" class="nav-link btn">
            <i class="bx bxs-download"></i>
            <span>Get libly. Apps</span>
          </a>
          <a href="#" class="nav-link btn btn-outline">Sign in</a>
        </div>
        <!-- <div class="toggle">
          <i class="bx bx-sun"></i>
        </div> -->
      </ul>

      <div class="menu-toggle">
        <div class="icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>
  </div>
  <div class="sidebar">
    <div class="container-sm">
      <ul class="sidebar-menu">
        <a href="#" class="sidebar-link">Discover</a>
        <a href="#" class="sidebar-link">Premium</a>
        <a href="#" class="sidebar-link">Library</a>
        <a href="#" class="sidebar-link">Blog</a>
        <a href="#" class="sidebar-link">Help</a>
      </ul>
      <div class="sidebar-menu footer">
        <a href="#" class="sidebar-link">
          <i class="bx bxs-download"></i>
          <span>Get libly. Apps</span>
        </a>
        <a href="#" class="sidebar-link btn-outline">Sign In</a>
      </div>
    </div>
  </div>
</header>
