<section>
  <div class="container-sm">
    <div class="premium-section">
      <div class="section-title">
        <h4 class="display-6">
          Get Premium
          <span class="main-color">For Best Experience</span>
        </h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
          temporibus!
        </p>
      </div>

      <div class="plan-list">
        <div class="card-plan">
          <div class="card-body">
            <div class="card-title">
              <div class="card-logo">libly premium</div>
              <h3>Personal</h3>
              <span>Rp. 1.500/hari</span>
            </div>
            <div class="card-benefit">
              <li>1 Akun Premium</li>
              <li>Akses Pembatalan kapan saja</li>
              <li>Berlangganan atau sekali bayar</li>
              <li>Dengarkan musik secara offline</li>
            </div>
          </div>

          <div class="card-btn">
            <a href="#" class="btn">Dapatkan</a>
          </div>
        </div>
        <div class="card-plan">
          <div class="card-body">
            <div class="card-title">
              <div class="card-logo">libly premium</div>
              <h3>Couple</h3>
              <span>Rp. 1.500/hari</span>
            </div>
            <div class="card-benefit">
              <li>1 Akun Premium</li>
              <li>Akses Pembatalan kapan saja</li>
              <li>Berlangganan atau sekali bayar</li>
              <li>Dengarkan musik secara offline</li>
            </div>
          </div>

          <div class="card-btn">
            <a href="#" class="btn">Dapatkan</a>
          </div>
        </div>
        <div class="card-plan">
          <div class="card-body">
            <div class="card-title">
              <div class="card-logo">libly premium</div>
              <h3>Family</h3>
              <span>Rp. 1.500/hari</span>
            </div>
            <div class="card-benefit">
              <li>1 Akun Premium</li>
              <li>Akses Pembatalan kapan saja</li>
              <li>Berlangganan atau sekali bayar</li>
              <li>Dengarkan musik secara offline</li>
            </div>
          </div>

          <div class="card-btn">
            <a href="#" class="btn">Dapatkan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
