<section>
  <div class="container-sm">
    <div class="trending-music">
      <div class="section-title">
        <h4 class="display-6">
          Discover Music Trending
          <span class="main-color"> You Like</span>
        </h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
          temporibus!
        </p>
      </div>

      <div class="trend-list">
        <li class="items">
          <div class="music-cover">
            <img src="/img/cover/tulus.jpeg" alt="cover" />
            <i class="bx bx-play"></i>
          </div>
          <div class="music-detail">
            <h3 class="music-title">Drunk Text</h3>
            <span>Henry Moodie</span>
          </div>
        </li>
        <li class="items">
          <div class="music-cover">
            <img src="/img/cover/tulus.jpeg" alt="cover" />
            <i class="bx bx-play"></i>
          </div>
          <div class="music-detail">
            <h3 class="music-title">End of Beginning</h3>
            <span>Djo</span>
          </div>
        </li>
        <li class="items">
          <div class="music-cover">
            <img src="/img/cover/tulus.jpeg" alt="cover" />
            <i class="bx bx-play"></i>
          </div>
          <div class="music-detail">
            <h3 class="music-title">Mungkin besok kit...</h3>
            <span>Hindia - Baskara</span>
          </div>
        </li>
      </div>

      <div class="more-btn">
        <a href="#" class="btn">View More</a>
      </div>
    </div>
  </div>
</section>
