<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <%- include('components/navbar.ejs') %> <%- include('components/hero.ejs')
    %>
  </body>

  <script src="/js/dom.js"></script>
</html>
