<%- include('partials/header.ejs') %>

    <h1>Homepage</h1>
    <!-- <a href="artikel/12">Artikel</a> -->
    <ul>
        <% for(let song of songs){ %>
            
            <li> <%= song.title %> </li>

        <% } %>
    </ul>

    <div>
        <div>
            <a href="/pop">Pop</a>
        </div>
        <div>
            <a href="/rock">Rock</a>
        </div>
        <div>
            <a href="/indie">Indie</a>
        </div>
    </div>

<%- include('partials/footer.ejs') %>